/* TABLE
 * ========================================================================= */
table.TreeProd{
  border: 1px solid #888;
  border-collapse: collapse;
  line-height: 1;
  width: 100%;
}

/* Caption
 * ------------------------------------------------------------------------- */
table caption.TreeProd {
  font-size: .9em;
  font-weight: bold;
}

/* Header
 * ------------------------------------------------------------------------- */
table.TreeProd  thead{
  background: #aaa url(../images/bg-table-thead.png) repeat-x top left;
  font-size: .9em;
}

table.TreeProd thead tr th  {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1.67em .1em 1.67em;
  text-align: left;
}

/* Body
 * ------------------------------------------------------------------------- */
table.TreeProd tbody tr td  {
  cursor: default;
  padding: .2em 1.5em;
}

table.TreeProd tbody tr.even  {
  background: #f3f3f3;
}

table.TreeProd tbody tr.odd {
  background: #fff;
}

table.TreeProd span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
  font-size:12px;
}

table.TreeProd span.file {
  background-image: url(../images/page_white_text.png);
}

table.TreeProd span.folder  {
  background-image: url(../images/folder.png);
}